.App {
  text-align: center;
  background-color: black;
  margin: 0px 200px;


}

/* Header CSS   */
.header {
  border: 1px solid red;
  border-radius: 20px;
}

/* Body CSS */
.body {
  color: white;

}

/* Button CSS */
#button_body :hover {
  /* background-color: green;
  color: white; */
  font-weight: 700;
}

.About {
  border: 1px solid black;
  background-color: rgb(46, 44, 43);
  margin: 5px 70px;
}

.interest_list {
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-right: 40px;
}